body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7f94bb;
    font-family: 'calibri', sans-serif;
}

.colorBtn {
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color:#fefefe;
    background: rgba(253, 62, 37, 0.781);
    font-size:1.5rem;
    text-transform: capitalize;
    outline: none;
}

.colorBtn:hover{
    background: gray;
    cursor: pointer;
}

.container{
    text-align: center;
    padding:  1.5rem;
    border-radius: 5px;
    background-color: #fff;
    flex: 0 0 80%;
}

.headerClr {
    text-align: center;
    padding: 0.4rem;
    border-radius: 10px;
    background-color: rgb(87, 243, 178);
    flex: 0 0 80%;
}
